.top-seller{
    position: relative;
    overflow-x: scroll; 
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin-bottom: 10px;
}
.top{
    position: absolute;
    display: flex;
    /* grid-template-columns: 1.3fr 1.3fr 1.3fr 1.3fr; */
    gap: 10px;
    overflow-wrap: inherit;
    overflow-x: auto;
    width: 100%;

}