.new {
    position: relative;
    overflow-x: scroll;
    width: 100%;
    height: 100vh;
  }
  
  .new::-webkit-scrollbar {
    display: none;
  }
  
  .new {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .card-container {
    position: absolute;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
  }
  