.catbar ul{
    display: flex;
    justify-content: space-around;
}
.catbar ul li{
    color: #832729;
    list-style: none;
    cursor: pointer;
}
@media(max-width:780px){
    .catbar ul{
        display: flex;
        flex-direction: column;
    }
}